<mat-toolbar color="primary">
  <span><img src="/tinted-exchange/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink='/sellers' routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Sellers</a>
  <a mat-button routerLink='/products' routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Products</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"> Login</span></a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Tinted Exchange</h1>
    <p>We have what you have, it's just a different color.</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>
