<div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">

  <div fxFlex>
    <h2>Our Top Sellers</h2>
  </div>
  <div fxFlex *ngIf="sellers" [@expand]>
    <mat-list fxFlex>
      <mat-list-item *ngFor="let seller of sellers">
        <img matListAvatar src="{{ BaseURL + seller.image }}" alt={{seller.name}}>
        <h1 matLine> {{seller.name}} {{seller.abbr}}</h1>
        <p matLine>
          <span> {{seller.designation}} </span>
        </p>
        <p matLine>
          <span> {{seller.description}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex [hidden]="sellers || errMessage">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMessage">
    <h2>Error</h2>
    <h4>{{ errMessage }}</h4>
  </div>

</div>